.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem solid rgb(90, 230, 136, 0.5);
    background-color: white;
}

.choice-container:hover {
    /* we can reuse this code to other style css for uniformed hover */
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(90, 230, 136, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem;
    background-color: #4cd863;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.0rem;
}

.hud-main-text {
    text-align: center;
}

